.nav {
  padding: 0 20px;
}

.nav ul {
  display: flex;
}

.nav ul li {
  border: 1px solid #000;
  padding: 4px 10px;
  border-right: none;
  cursor: pointer;
  color: #0275d8;
}

.nav ul li:last-of-type {
  border: 1px solid #000;
}

.nav ul li:hover,
.nav ul li:focus {
  background-color: #eee;
}
