/* Imports */

/* Variables */

/* Main CSS */

* {
  box-sizing: border-box;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input:hover,
input:focus {
  outline: none;
}

select {
  padding: 4px 8px;
  color: #333;
  /* background-color: #eee; */
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 0.5rem !important;
}

select option {
  border: 1px solid #ddd;
}
select:focus,
select:hover {
  outline: none;
  border: 1px solid #bbb;
}

body {
  margin: 0;
}
